.activity {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-1);
}

.item {
  padding: var(--spacing-2);
  border-radius: var(--border-radius-default);
  border: 1px solid var(--alto);
  transition: background-color 0.3s var(--ease-out-cubic);
}

.title {
  color: var(--science-blue);
}

.category {
  color: var(--scarpa-flow);
  font-size: var(--font-size-small);
}

.item:hover {
  background-color: var(--solitude);
}