.activity {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-5);
}

.item {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-1);
  color: var(--bunker);
  transition: color 0.3s var(--ease-out-cubic);
}

.item:hover {
  .title {
    color: var(--science-blue);
  }
}

.title {
  margin: 0;
  font-size: var(--font-size-bold);
  font-weight: normal;
  line-height: 1.5;
  color: var(--bunker);
  text-decoration: underline;
  transition: color 0.3s var(--ease-out-cubic);
}

.description {
  margin: 0;
  font-size: var(--font-size-default);
  line-height: 1.7;
  color: var(--scarpa-flow);
}

@media screen and (width <= 767px) {
  .item {
    padding: var(--spacing-2) 0;
  }
}
