.activity {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: var(--spacing-1);
}

.item {
  width: 100%;
  padding: var(--spacing-2);
  border: 1px solid var(--alto);
  border-radius: var(--border-radius-small);
  transition: background-color 0.3s var(--ease-out-cubic);
}

.title {
  color: var(--science-blue);
}

.category {
  font-size: var(--font-size-small);
  color: var(--scarpa-flow);
}

.item:hover {
  background-color: var(--solitude);
}
