.activity {
  display: flex;
  flex-direction: column;
}

.item {
  display: flex;
  gap: var(--spacing-3);
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: var(--spacing-3);
  border-top: 1px solid var(--alto);
  transition: background-color 0.3s var(--ease-out-cubic);

  &:last-child {
    border-bottom: 1px solid var(--alto);
  }
}

.title {
  color: var(--science-blue);
}

.category {
  font-size: var(--font-size-small);
  color: var(--scarpa-flow);
}

.item:hover {
  background-color: var(--solitude);
}

@media screen and (width <= 767px) {
  .item {
    gap: var(--spacing-2);
    padding: var(--spacing-2) 0;
  }

  .title {
    font-size: var(--font-size-small);
  }
}
