a.button {
  display: flex;
  align-items: center;
  gap: var(--spacing-05);
  width: fit-content;
  padding: 0 var(--spacing-2);
  line-height: 48px;
  color: var(--white);
  background-color: var(--science-blue);
  border-radius: var(--border-radius-default);
}
