.button {
  display: flex;
  gap: var(--spacing-05);
  align-items: center;
  width: fit-content;
  height: 48px;
  padding: 0 var(--spacing-2);
  line-height: 48px;
  color: var(--white);
  background-color: var(--science-blue);
  border: 1px solid var(--science-blue);
  border-radius: var(--border-radius-default);
  transition:
    background-color 0.3s var(--ease-out-cubic),
    color 0.3s var(--ease-out-cubic);
}

.button:visited {
  color: var(--white);
}

.button:hover {
  color: var(--science-blue);
  background-color: var(--white);
}
