---
import MainHead from '../../components/MainHead.astro';
import Header from '../../components/Header/index';
import Work from '../../components/Work/index';

export const getStaticPaths = async () => {
  const apiUrl = `https://takanorip.microcms.io/api/v1/works?limit=1000`
  const baseHeaders = {
    headers: { 'X-MICROCMS-API-KEY': 'd40081c2-4d7e-4e26-a730-330f9b7fb70e' },
  };

  const response = await fetch(apiUrl, baseHeaders);
  const data = await response.json();
  return data.contents.map(item => {
    return {
      params: { id: item.id },
      props: { item } };
  });
}

const { item } = Astro.props;

const strippedDescription = item.description.replace(/(<([^>]+)>)/gi, "");

---

<html lang="en">
  <head>
    <MainHead title={`${item.title} | office takanorip`} description={strippedDescription} />
  </head>
  <body>
    <Header dir="works" client:visible />
    <Work data={item} />
  </body>
</html>