.aside {
  width: 200px;
  height: 500px;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-5);
  position: sticky;
  top: 120px;
}
.profile {
  line-height: 0;
}
.image {
  width: 200px;
  height: 200px;
  object-fit: cover;
}
.snsList {
  display: grid;
  gap: var(--spacing-2);
  border-radius: var(--border-radius-default);
}
.snsLink {
  display: flex;
  align-items: center;
  gap: var(--spacing-2);
  line-height: 24px;
  color: var(--bunker);
}
.snsLink:hover {
  color: var(--science-blue);
}

@media screen and (max-width: 1007px) {
  .aside {
    width: 100%;
    height: auto;
    position: initial;
    flex-direction: row;
    gap: var(--spacing-3);
  }
  .snsList {
    grid-template-columns: repeat(3, 1fr);
  }
  a.snsLink {
    font-size: var(--font-size-small);
    line-height: 1.5;
    border-radius: var(--border-radius-default);
    border: 1px solid var(--alto);
    padding: var(--spacing-2);
    min-height: 5rem;
  }
}

@media screen and (max-width: 767px) {
  .aside {
    flex-direction: column;
  }
  .image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .snsList {
    grid-template-columns: repeat(2, 1fr);
    gap: var(--spacing-1);
  }
  a.snsLink {
    border-radius: var(--border-radius-small);
    padding: var(--spacing-05);
    min-height: auto;
  }
}
