.aside {
  width: 200px;
  height: 500px;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-5);
  position: sticky;
  top: 120px;
}
.profile {
  line-height: 0;
}
.image {
  width: 200px;
  height: 200px;
  object-fit: cover;
}
.snsList {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-2);
  border-radius: var(--border-radius-default);
}
.snsLink {
  display: flex;
  align-items: center;
  gap: var(--spacing-2);
  line-height: 24px;
  color: var(--bunker);
}
.snsLink:hover {
  color: var(--science-blue);
}

@media screen and (max-width: 1007px) {
  .aside {
    width: 100%;
    height: auto;
    position: initial;
  }
  .snsList {
    padding: var(--spacing-2);
    flex-direction: row;
    gap: 0;
  }
  a.snsLink {
    flex: 1;
    flex-direction: column;
    gap: var(--spacing-1);
    font-size: var(--font-size-small);
    line-height: 1.5;
  }
}

@media screen and (max-width: 767px) {
  .image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .snsList {
    padding: 0;
  }
  a.snsLink {
    height: 56px;
    font-size: 0;
    gap: 0;
    line-height: 0;
    justify-content: center;
  }
}
