:root {
  --supernova: #FDC400;
  --solitude: #E3F2FE;
  --picton-blue: #00C0FD;
  --azure-radiance: #007DFD;
  --science-blue: #0064CA;
  --ottoman: #E6F4E8;
  --forest-green: #008D18;
  --white: #FFFFFF;
  --wild-sand: #F4F5F6;
  --alto: #DDE0E4;
  --scarpa-flow: #525960;
  --bunker: #001319;
  --ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);
  --spacing-0: 0.25rem;
  --spacing-1: 0.5rem;
  --spacing-05: 0.75rem;
  --spacing-2: 1rem;
  --spacing-3: 1.5rem;
  --spacing-4: 2rem;
  --spacing-5: 2.5rem;
  --spacing-8: 4rem;
  --spacing-13: 6.5rem;
  --spacing-21: 10.5rem;
  --font-family: "Nunito Sans", "Hiragino Sans", sans-serif;
  --font-size-minimum: 12px;
  --font-size-small: 14px;
  --font-size-default: 16px;
  --font-size-large: 24px;
  --font-size-h3: 36px;
  --font-size-h2: 54px;
  --font-size-h1: 81px;
  --border-radius-default: 8px;
}

body {
  color: var(--bunker);
  font-family: var(--font-family);
  margin: 0;
  box-sizing: border-box;
}

h1, h2, h3, p, div, ul, li, figure {
  margin: 0;
}

a {
  color: currentColor;
  text-decoration: none;
}

a:visited {
  color: currentColor;
}