<!doctype html>
<html lang="en">
  <head>
    <title>{{ renderData.title or title or metadata.title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ renderData.description or description or metadata.description }}">
    <meta property="og:url" content="{{ metadata.url }}"/>
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="{{ renderData.title or title or metadata.title }}"/>
    <meta property="og:description" content="{{ renderData.description or description or metadata.description }}"/>
    <meta property="og:image" content="{{ metadata.ogp.ogImageUrl }}"/>
    <meta name="twitter:card" content="{{ metadata.ogp.twitterCard }}" />
    <link rel="apple-touch-icon" sizes="57x57" href="/img/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/img/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/img/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/img/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/img/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/img/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/img/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/img/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/img/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/img/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/img/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon/favicon-16x16.png">
    <link rel="manifest" href="/img/favicon/manifest.json">
    <meta name="theme-color" content="#000000">
    <link rel="stylesheet" href="{{ '/css/index.css' | url }}">
    <script type="text/javascript" src="//webfont.fontplus.jp/accessor/script/fontplus.js?AOiFqnnHNRI%3D&box=gysCShwdQ~8%3D&aa=1&ab=2" charset="utf-8"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-VJ95WWW3Q4"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-VJ95WWW3Q4');
    </script>
  </head>
  <body {% if templateClass %} class="{{ templateClass }}"{% endif %}>
    <header class="takanorip-header">
      <h1 class="takanorip-headerLogo"><a class="takanorip-headerLogoLink" href="{{ '/' | url }}">takanorip</a></h1>
      <nav class="takanorip-nav">
        <ul class="takanorip-headerList">
            <li class="takanorip-headerItem">
              <a class="takanorip-headerLink top" href="{{ '/' | url }}">top</a>
            </li>
            <li class="takanorip-headerItem">
              <a class="takanorip-headerLink works" href="{{ '/works' | url }}">works</a>
            </li>
            <li class="takanorip-headerItem">
              <a class="takanorip-headerLink about" href="{{ '/about' | url }}">about</a>
            </li>
            <li class="takanorip-headerItem">
              <a class="takanorip-headerLink blog" href="{{ '/blog' | url }}">blog</a>
            </li>
          </ul>
      </nav>
    </header>
    <main class="takanorip-contents">
      {{ content | safe }}
    </main>
  </body>
</html>