<!doctype html>
<html lang="en">
  <head>
    <title>{{ renderData.title or title or metadata.title_blog }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ renderData.description or description or metadata.description }}">
    <meta property="og:url" content="{{ metadata.url_blog }}"/>
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="{{ renderData.title or title or metadata.title_blog }}"/>
    <meta property="og:description" content="{{ renderData.description or description or metadata.description_blog }}"/>
    <meta property="og:image" content="{{ renderData.ogImageUrl or ogImageUrl or metadata.ogp_blog.ogImageUrl }}"/>
    <meta name="twitter:card" content="{{ metadata.ogp_blog.twitterCard }}" />
    <link rel="apple-touch-icon" sizes="180x180" href="/img/favicon/blog/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon/blog/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon/blog/favicon-16x16.png">
    <link rel="manifest" href="/img/favicon/blog/site.webmanifest">
    <link rel="mask-icon" href="/img/favicon/blog/safari-pinned-tab.svg" color="#eaeef2">
    <link rel="shortcut icon" href="/img/favicon/blog/favicon.ico">
    <meta name="msapplication-TileColor" content="#eaeef2">
    <meta name="msapplication-config" content="/img/favicon/blog/browserconfig.xml">
    <meta name="theme-color" content="#eaeef2">
    {% eleventyGoogleFonts 'https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&family=Overpass+Mono:wght@400;700&family=Overpass:wght@600;900&family=Cookie:wght@400&display=swap' %}
    <link rel="stylesheet" href="{{ '/css/index.css' | url }}">
    <link rel="stylesheet" href="{{ '/css/prism.css' | url }}">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <!-- <script async src="https://www.googletagmanager.com/gtag/js?id=G-VJ95WWW3Q4"></script> -->
    <script async defer src="{{ '/js/gtag.js' | url }}"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-VJ95WWW3Q4');
    </script>
  </head>
  <body {% if templateClass %} class="{{ templateClass }} takanorip-blogBase"{% endif %}>
    <header class="takanorip-header">
      <h1 class="takanorip-headerLogo"><a class="takanorip-headerLogoLink" href="{{ '/blog' | url }}">takanorip blog</a></h1>
      <nav class="takanorip-nav">
        <ul class="takanorip-headerList">
            <li class="takanorip-headerItem">
              <a class="takanorip-headerLink" href="{{ '/' | url }}">portfolio</a>
            </li>
            <li class="takanorip-headerItem takanorip-headerRss">
              <a class="takanorip-headerLink" href="{{ '/feed.xml' | url }}">rss</a>
            </li>
            <li class="takanorip-headerItem">
              <a class="takanorip-headerLink" href="{{ '/blog/search/' | url }}">search</a>
            </li>
          </ul>
      </nav>
    </header>
    <main class="takanorip-contents">
      {{ content | safe }}
    </main>
    <footer class="takanorip-blogFooter">
      <div class="takanorip-blogFooterContents">
        <p class="takanorip-blogFooterName">takanorip</p>
        <a href="{{ metadata.twitter }}">Twitter</a>
      </div>
      <p class="takanorip-blogFooterTop"><a href="#top">back to top</a></p>
    </footer>
  </body>
</html>
