.main {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-13);
}
.section {
  max-width: 720px;
}
.keyText {
  font-size: var(--font-size-h1);
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.4px;
}
.subText {
  margin-top: var(--spacing-2);
  color: var(--scarpa-flow);
  font-size: var(--font-size-large);
}
.title {
  display: flex;
  align-items: center;
  gap: var(--spacing-1);
  font-size: var(--font-size-h3);
  font-weight: 700;
  letter-spacing: 0.8px;
  margin-bottom: var(--spacing-5);
  line-height: 1;
}
.title::before {
  display: block;
  content: '';
  width: 20px;
  height: 12px;
  border-radius: 6px;
  background-color: var(--supernova);
}
.text {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-2);
  line-height: 1.8;
}
.blue {
  color: var(--science-blue);
}
.works {
  display: grid;
  gap: var(--spacing-2);
  grid-template-columns: 1fr 1fr 1fr;
}
.buttonWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: var(--spacing-5);
}
.subGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--spacing-3);
}
.aside {
  display: none;
}

@media screen and (max-width: 1008px) {
  .aside {
    display: block;
    margin-bottom: var(--spacing-3);
  }
}

@media screen and (max-width: 767px) {
  .main {
    gap: var(--spacing-8);
  }
  .keyText {
    font-size: 17.6vw;
  }
  .subText {
    font-size: var(--font-size-default);
  }
  .title {
    margin-bottom: var(--spacing-3);
  }
  .works {
    display: grid;
    gap: var(--spacing-2);
    grid-template-columns: none;
    grid-template-rows: 1fr 1fr 1fr;
  }
  .buttonWrapper {
    margin-top: var(--spacing-3);
  }
  a.button {
    width: 100%;
    justify-content: center;
  }
  .subGrid {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-8);
  }
}