---
import MainHead from '../components/MainHead.astro';
import Footer from '../components/Footer/index.jsx';
import Header from '../components/Header/index.jsx';
---

<html lang="en">
  <head>
    <MainHead title="Not Found" />
  </head>
  <body>
    <Header />
    <div class="wrapper mt4 mb4">
      <h1>Page Not Found</h1>
      <p>Not found</p>
    </div>
    <Footer />
  </body>
</html>
