---
// Component Imports
import MainHead from '../components/MainHead.astro';
import Button from '../components/Button/index';
import Header from '../components/Header/index';
import Main from '../components/Main/index';
import Aside from '../components/Aside/index';
import Footer from '../components/Footer/index';
import PortfolioPreview from '../components/PortfolioPreview/index.jsx';

// Data Fetching: List all Markdown posts in the repo.
const works = Astro.fetchContent('./work/**/*.md');
const featuredProject = works[0];

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<html lang="en">
  <head>
    <MainHead />
    <style lang="css">
      .about {
        display: flex;
        justify-content: center;
        gap: var(--spacing-5);
        padding: var(--spacing-8) var(--spacing-3) var(--spacing-13);
      }
    </style>
  </head>
  <body>
    <Header dir="about" />
    <div class="about">
      <Main />
      <Aside />
    </div>
    <Footer />
  </body>
</html>
