---
// Component Imports
import MainHead from "../components/MainHead.astro";
import Button from "../components/Button/index";
import Header from "../components/Header/index";
import Main from "../components/Main/index";
import Aside from "../components/Aside/index";
import Footer from "../components/Footer/index";
import Loading from "../components/Loading/index";

const apiUrl = "https://takanorip.microcms.io/api/v1/works?limit=1000";
const baseHeaders = {
  headers: { "X-MICROCMS-API-KEY": "d40081c2-4d7e-4e26-a730-330f9b7fb70e" },
};

const response = await fetch(apiUrl, baseHeaders);
const data = await response.json();
---

<html lang="en">
  <head>
    <MainHead />
    <style lang="css">
      .about {
        display: flex;
        justify-content: center;
        gap: var(--spacing-5);
        padding: 200px var(--spacing-3) var(--spacing-13);
      }
      @media screen and (max-width: 1007px) {
        .about {
          padding: 200px var(--spacing-2) var(--spacing-8);
        }
        .aside {
          display: none;
        }
      }
      @media screen and (max-width: 767px) {
        .about {
          padding: 88px var(--spacing-2) var(--spacing-8);
        }
      }
    </style>
  </head>
  <body>
    <Loading client:visible />
    <Header dir="about" client:visible />
    <div class="about">
      <Main works={data.contents} />
      <div class="aside">
        <Aside />
      </div>
    </div>
    <Footer />
  </body>
</html>
