.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--spacing-1) var(--spacing-5);
  background-color: var(--white);
}

.logo {
  display: flex;
  gap: var(--spacing-2);
  align-items: center;
}

.logo svg {
  width: auto;
  height: 2rem;
}

.nav {
  display: flex;
  gap: var(--spacing-1);
}

.navItem {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  padding: 0 var(--spacing-2);
  line-height: 48px;
  color: var(--bunker);
  letter-spacing: 0.8px;
  border-radius: var(--border-radius-default);
  transition: background-color 0.3s var(--ease-out-cubic);
}

.navItem.active {
  text-decoration: underline;
  text-decoration-thickness: 4px;
  text-decoration-color: var(--science-blue);
  text-underline-offset: var(--spacing-1);
  pointer-events: none;
}

.navItem:hover {
  background-color: var(--solitude);
}

.navItemBlog {
  display: flex;
  gap: var(--spacing-1);
  align-items: center;
}

.spOnly {
  display: none;
}

.slash {
  line-height: 48px;
}

.wrapper {
  display: flex;
  gap: var(--spacing-1);
}

.menuWrapper {
  position: relative;
}

.menu {
  z-index: 4;
  width: 120px;
  padding: var(--spacing-0);
  background-color: var(--white);
  border: 1px solid var(--alto);
  border-radius: var(--border-radius-default);
  box-shadow:
    0 2px 4px rgb(0 19 25 / 6%),
    0 6px 12px rgb(0 19 25 / 8%),
    0 12px 20px rgb(0 19 25 / 6%);
}

:popover-open {
  position: fixed;
  inset: unset;
  top: 48px;
  left: 50%;
}

.menu.open {
  display: block;
}

a.menuItem {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 40px;
  padding: 0 var(--spacing-1) 0 36px;
  line-height: 40px;
  color: var(--bunker);
}

a.menuItem.current::before {
  position: absolute;
  top: 10px;
  left: 8px;
  display: block;
  width: 20px;
  height: 20px;
  content: "";
  background-image: url("/assets/check.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.button {
  display: flex;
  gap: var(--spacing-1);
  align-items: center;
  height: 48px;
  padding: 0;
  font-size: var(--font-size-default);
  font-weight: bold;
  line-height: 48px;
  color: var(--science-blue);
  letter-spacing: 0.4px;
  background-color: transparent;
  border: none;
}

@media screen and (width <= 767px) {
  .header {
    height: 48px;
    padding: 0 var(--spacing-2);
  }

  .h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 48px;
  }

  .logo svg {
    width: auto;
    height: 1.5rem;
  }

  .nav {
    display: none;
  }

  .spOnly {
    display: block;
  }
}
