.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--spacing-1) var(--spacing-5);
  background-color: var(--white);
}

.logo {
  display: flex;
  gap: var(--spacing-2);
  align-items: center;
}

.logo svg {
  width: auto;
  height: 2rem;
}

.nav {
  display: flex;
  gap: var(--spacing-1);
}

.navItem {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  padding: 0 var(--spacing-2);
  line-height: 48px;
  color: var(--bunker);
  letter-spacing: 0.8px;
  transition: background-color 0.3s var(--ease-out-cubic);
}

.navItem.active {
  text-decoration: underline;
  text-decoration-thickness: 4px;
  text-decoration-color: var(--science-blue);
  text-underline-offset: var(--spacing-1);
  pointer-events: none;
}

.navItem:hover {
  background-color: var(--solitude);
}

.navItemBlog {
  display: flex;
  gap: var(--spacing-1);
  align-items: center;
}

.spOnly {
  display: none;
}

.slash {
  line-height: 48px;
}

.wrapper {
  display: flex;
  gap: var(--spacing-1);
}

.menuWrapper {
  position: relative;
}

.menu {
  z-index: 4;
  width: 120px;
  padding: var(--spacing-0);
  background-color: var(--white);
  border: 1px solid var(--alto);
}

:popover-open {
  position: fixed;
  inset: unset;
  top: 48px;
  right: 16px;
}

.menu.open {
  display: block;
}

a.menuItem {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 40px;
  padding: 0 var(--spacing-1) 0 var(--spacing-1);
  line-height: 40px;
  color: var(--bunker);
}

.button {
  display: flex;
  gap: var(--spacing-1);
  align-items: center;
  height: 48px;
  padding: 0;
  font-size: var(--font-size-default);
  font-weight: normal;
  line-height: 48px;
  letter-spacing: 0.4px;
  background-color: transparent;
  border: none;
}

@media screen and (width <= 767px) {
  .header {
    height: 48px;
    padding: 0 var(--spacing-2);
  }

  .h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 48px;
  }

  .logo svg {
    width: auto;
    height: 1.5rem;
  }

  .nav {
    display: none;
  }

  .spOnly {
    display: block;
  }

  .wrapper {
    width: 100%;
  }

  .menuWrapper {
    margin-left: auto;
  }
}
