.header {
  display: flex;
  justify-content: space-between;
  padding: var(--spacing-3) var(--spacing-5);
  border-bottom: 1px solid var(--alto);
}

.logo {
  display: flex;
  gap: var(--spacing-2);
  align-items: center;
}

.nameLogo {
  height: 24px;
}

.treeLogo {
  width: 48px;
  height: 48px;
}

.nav {
  display: flex;
  gap: var(--spacing-1);
}

.navItem {
  line-height: 48px;
  padding: 0 var(--spacing-2);
  border-radius: 8px;
  letter-spacing: 0.8px;
}

.navItem.active {
  color: var(--white);
  background-color: var(--science-blue);
  pointer-events: none;
}

.navItem:hover {
  background-color: var(--solitude);
}

.navItemBlog {
  display: flex;
  gap: var(--spacing-1);
  align-items: center;
}