.works {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: calc(96px + 40px) var(--spacing-5) var(--spacing-13);
  overflow: auto;
}
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: var(--spacing-2);
}
.tabOverflow {
  overflow-x: scroll;
  overflow-y: hidden;
  margin-bottom: var(--spacing-5);
}
.tabWrapper {
  display: flex;
  width: fit-content;
  margin: auto;
}
.tab {
  border: 1px solid var(--alto);
  border-left-width: 0;
  background: none;
  height: 40px;
  line-height: 40px;
  padding: 0 var(--spacing-2);
  cursor: pointer;
  transition: background-color 0.3s var(--ease-out-cubic);
}
.tab:first-child {
  border-left-width: 1px;
  border-radius: var(--border-radius-small) 0 0 var(--border-radius-small);
}
.tab:last-child {
  border-radius: 0 var(--border-radius-small) var(--border-radius-small) 0;
}
.tab:hover {
  background-color: var(--solitude);
}
.tab.active {
  color: var(--white);
  background-color: var(--science-blue);
  font-weight: bold;
  border: none;
}

@media screen and (max-width: 767px) {
  .works {
    padding: calc(48px + 40px) var(--spacing-2) var(--spacing-8);
  }
}