/**
 * prism.js tomorrow night eighties for JavaScript, CoffeeScript, CSS and HTML
 * Based on https://github.com/chriskempson/tomorrow-theme
 * @author Rose Pritchard
 */

code {
  font-family: var(--code-font-family);
  background-color: var(--color-code-black);
  color: var(--color-code-gray);
  padding: 2px 6px;
  margin: 0 var(--spacing-0);
  border-radius: 4px;
  font-size: 14px;
  white-space: pre;
}

a > code {
  text-decoration: underline;
}

pre {
  background: var(--color-code-black);
  color: var(--color-code-gray);
  padding: var(--spacing-3);
  font-family: var(--code-font-family);
  font-size: 1em;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
	border-radius: 4px;
  margin: 0 0 var(--spacing-3);
  overflow: auto;
}

pre > code {
  background-color: var(--color-code-black);
  color: var(--color-code-gray);
  margin: 0;
  padding: 0;
}

code[class*="language-"],
pre[class*="language-"] {
  color: #ccc;
  background: none;
  font-family: var(--code-font-family);
  font-size: 1em;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;

  padding: 0;
  margin: 0;
}

/* Code blocks */
pre[class*="language-"] {
  padding: 1em;
  margin: 0 0 var(--spacing-3);
  overflow: auto;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: #2d2d2d;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: 0.1em;
  border-radius: 0.3em;
  white-space: normal;
}

.token.comment,
.token.block-comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #999;
}

.token.punctuation {
  color: #ccc;
}

.token.tag,
.token.attr-name,
.token.namespace,
.token.deleted {
  color: #e2777a;
}

.token.function-name {
  color: #6196cc;
}

.token.boolean,
.token.number,
.token.function {
  color: #f08d49;
}

.token.property,
.token.class-name,
.token.constant,
.token.symbol {
  color: #f8c555;
}

.token.selector,
.token.important,
.token.atrule,
.token.keyword,
.token.builtin {
  color: #cc99cd;
}

.token.string,
.token.char,
.token.attr-value,
.token.regex,
.token.variable {
  color: #7ec699;
}

.token.operator,
.token.entity,
.token.url {
  color: #67cdcc;
}

.token.important,
.token.bold {
  font-weight: bold;
}
.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

.token.inserted {
  color: green;
}
