.wrapper {
  width: 100%;
  overflow-x: auto;
}

.table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

thead {
  border-bottom: 1px solid var(--alto);
}

th {
  padding: var(--spacing-2) 0;
  font-size: var(--font-size-small);
  font-weight: 700;
  color: var(--scarpa-flow);
  text-align: left;
  letter-spacing: 0.4px;
}

.headerCompany {
  width: 40%;
}

.headerRole {
  width: 50%;
}

.headerPeriod {
  width: 10%;
}

.row {
  border-bottom: 1px solid var(--alto);
  transition: background-color 0.3s var(--ease-out-cubic);
}

td {
  padding: var(--spacing-3) 0;
  vertical-align: top;
}

.company {
  font-size: var(--font-size-default);
  font-weight: normal;
  color: var(--bunker);
  line-height: 1.5;
}

.role {
  font-size: var(--font-size-default);
  color: var(--scarpa-flow);
  line-height: 1.5;
}

.period {
  font-size: var(--font-size-default);
  color: var(--scarpa-flow);
  line-height: 1.5;
  white-space: nowrap;
}

@media screen and (width <= 767px) {
  .wrapper {
    max-width: 100%;
  }

  th,
  td {
    padding: var(--spacing-2) var(--spacing-1);
    font-size: var(--font-size-small);
  }

  .headerCompany,
  .headerRole,
  .headerPeriod {
    width: auto;
  }

  .company,
  .role,
  .period {
    font-size: var(--font-size-small);
  }

  .period {
    white-space: normal;
  }
}
