.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-5);
  padding: var(--spacing-3);
  border: 1px solid var(--alto);
  border-radius: var(--border-radius-default);
}

.wrapper::before {
  position: absolute;
  top: 52px;
  bottom: 52px;
  left: 119px;
  display: block;
  width: 2px;
  content: "";
  background-color: var(--alto);
}

.item {
  position: relative;
  display: grid;
  grid-template-columns: 66px 8px 1fr;
  gap: var(--spacing-3);
  align-items: center;
}

.period {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.hyphen {
  line-height: 16px;
  transform: rotate(90deg);
}

.dot {
  width: 12px;
  height: 12px;
  background-color: var(--alto);
  border-radius: 6px;
}

.company {
  color: var(--science-blue);
}

.role {
  font-size: var(--font-size-small);
  color: var(--scarpa-flow);
}
