.wrapperWrapper {
  width: 100%;
  overflow-x: scroll;
}

.wrapper {
  position: relative;
  display: flex;
  gap: var(--spacing-8);
  width: fit-content;
}

.wrapper::before {
  position: absolute;
  bottom: 4px;
  left: 0;
  display: block;
  width: 100%;
  height: 2px;
  content: "";
  background-color: var(--alto);
  transform: translateY(-50%);
}

.item {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-1);
  align-items: flex-start;
}

.period {
  display: flex;
  gap: var(--spacing-1);
}

.dot {
  width: 12px;
  height: 12px;
  margin-top: var(--spacing-2);
  background-color: var(--alto);
  border-radius: 6px;
}

.company {
  font-size: var(--font-size-bold);
  color: var(--science-blue);
}

.role {
  font-size: var(--font-size-small);
  color: var(--scarpa-flow);
  white-space: nowrap;
}

@media screen and (width <= 767px) {
  .wrapperWrapper {
    overflow: hidden;
  }

  .wrapper {
    flex-direction: column;
    gap: var(--spacing-3);

    &::before {
      content: none;
    }
  }

  .item {
    gap: var(--spacing-0);
  }

  .period {
    gap: var(--spacing-0);
    font-size: var(--font-size-small);
  }

  .dot {
    display: none;
  }
}
