.card {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-05);
  color: var(--bunker);
  transition: background-color 0.3s var(--ease-out-cubic);
}

.title {
  box-sizing: border-box;
  margin-top: auto;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.5;
  white-space: nowrap;
}

.titleWrapper {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-0);
}

.card:hover {
  .title {
    color: var(--science-blue);
  }
}

.imageWrapper {
  position: relative;
  padding: var(--spacing-2);
  line-height: 0;
  background-color: var(--wild-sand);
}

.image {
  width: 100%;
  aspect-ratio: 4 / 4;
  object-fit: contain;
  object-position: center;
}

@media screen and (width <= 767px) {
  .imageWrapper {
    padding: var(--spacing-2);
  }
}

.bottom {
  display: flex;
  gap: var(--spacing-2);
  align-items: flex-start;
}

.category {
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-1);
}

.tag {
  font-size: var(--font-size-small);
  letter-spacing: 0.4px;
}

.date {
  z-index: 1;
  flex: none;
  font-size: var(--font-size-small);
  letter-spacing: 0.4px;
}
