.card {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-05);
  color: var(--bunker);
  transition: background-color 0.3s var(--ease-out-cubic);
}

.title {
  box-sizing: border-box;
  margin-top: auto;
  overflow: hidden;
  font-weight: bold;
  line-height: 1.5;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.titleWrapper {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-0);
}

.card:hover {
  .title {
    color: var(--science-blue);
  }
}

.imageWrapper {
  position: relative;
  aspect-ratio: 4 / 3;
  background-color: var(--wild-sand);
  padding: var(--spacing-3);
}

.image {
  position: absolute;
  width: calc(100% - var(--spacing-3) * 2);
  height: calc(100% - var(--spacing-3) * 2);
  object-fit: contain;
  object-position: center;
}

@media screen and (width <= 767px) {
  .imageWrapper {
    padding: var(--spacing-2);
  }

  .image {
    width: calc(100% - var(--spacing-2) * 2);
    height: calc(100% - var(--spacing-2) * 2);
  }
}

.bottom {
  display: flex;
  align-items: flex-start;
  gap: var(--spacing-2);
}

.category {
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-1);
}

.tag {
  font-size: var(--font-size-small);
  letter-spacing: 0.4px;
}

.date {
  z-index: 1;
  flex: none;
  font-size: var(--font-size-small);
  letter-spacing: 0.4px;
}
