---
layout: layouts/base.njk
templateClass: about-content
title: ABOUT
---
{% include "components/background.njk" %}
{% include "components/head.njk" %}
<section class="takanorip-aboutSection">
  <h3 class="takanorip-sectionTitle">Profile</h3>
  <p>
    I'm a User Interface Designer and Front-end Web Developer based in Tokyo. <br>
  </p>
  <p>
    I'm good at creating systems that ensure consistency in UI design with certain tools and front-end web development.
    I'm also familiar with Web Font, Figma, Web Standards and Design system.<br>
  </p>
  <p>
    I accept a job offer as solo proprietorship. Please feel free to contact me via Twitter.
  </p>
  <ul class="takanorip-accountList">
    <li class="takanorip-accountItem">
      <a class="takanorip-accountLink" href="https://twitter.com/takanoripe">Twitter</a>
    </li>
    <li class="takanorip-accountItem">
      <a class="takanorip-accountLink" href="https://dribbble.com/takanorip">Dribbble</a>
    </li>
    <li class="takanorip-accountItem">
      <a class="takanorip-accountLink" href="https://github.com/takanorip">GitHub</a>
    </li>
    <li class="takanorip-accountItem">
      <a class="takanorip-accountLink" href="https://speakerdeck.com/takanorip">Speaker Deck</a>
    </li>
    <li class="takanorip-accountItem">
      <a class="takanorip-accountLink" href="https://lapras.com/public/SHCEMGQ">LAPRAS</a>
    </li>
  </ul>
</section>
<section class="takanorip-aboutSection">
  <h3 class="takanorip-sectionTitle">Talks</h3>
  <dl class="takanorip-experience">
    <dt class="takanorip-experienceTitle">2021/02</dt>
    <dd class="takanorip-experienceDescription">
      <p>
        <a class="takanorip-accountLink" href="https://youtu.be/kfcEK8sNTXY">
          Front-End Study #4「いま考えるユーザー体験とデザイン」
        </a>
      </p>
    </dd>
    <dt class="takanorip-experienceTitle">2019/10</dt>
    <dd class="takanorip-experienceDescription">
      <p>
        <a class="takanorip-accountLink" href="https://youtu.be/zTvSMhDPn_k">
          Fukuoka Frontend Conference 2019
        </a>
      </p>
    </dd>
    <dt class="takanorip-experienceTitle">2019/10</dt>
    <dd class="takanorip-experienceDescription">
      <p>
        <a class="takanorip-accountLink" href="https://speakerdeck.com/takanorip/purodakutokai-fa-tofigmafalseyoriliang-iguan-xi-woqiu-mete">
          Frontend Conference 2019
        </a>
      </p>
    </dd>
    <dt class="takanorip-experienceTitle">2019/07</dt>
    <dd class="takanorip-experienceDescription">
      <p>
        <a class="takanorip-accountLink" href="https://logmi.jp/tech/articles/321630">
          BCU30 2019
        </a>
      </p>
    </dd>
    <dt class="takanorip-experienceTitle">2019/01</dt>
    <dd class="takanorip-experienceDescription">
      <p>
        <a class="takanorip-accountLink" href="https://youtu.be/ftqAyw8gYNQ">
          Next Web Conference
        </a>
      </p>
    </dd>
    <dt class="takanorip-experienceTitle">2018/11</dt>
    <dd class="takanorip-experienceDescription">
      <p>
        <a class="takanorip-accountLink" href="https://youtu.be/WttpESl58L4">
          Vue Fes Japan 2018
        </a>
      </p>
    </dd>
    <dt class="takanorip-experienceTitle">2018/09</dt>
    <dd class="takanorip-experienceDescription">
      <p>
        <a class="takanorip-accountLink" href="https://slides.com/takanorip/pwa-now-and-future">GDG DevFest Tokyo</a>
      </p>
    </dd>
  </dl>
</section>
<section class="takanorip-aboutSection">
  <h3 class="takanorip-sectionTitle">Experience</h3>
  <dl class="takanorip-experience">
    <dt class="takanorip-experienceTitle">2020/05 - Now</dt>
    <dd class="takanorip-experienceDescription"><p>Frontend Developer / Interface Designer at classdo.</p></dd>
    <dt class="takanorip-experienceTitle">2018/10 - 2020/04</dt>
    <dd class="takanorip-experienceDescription"><p>Frontend Developer at FOLIO.</p></dd>
    <dt class="takanorip-experienceTitle">2017/06 - 2018/09</dt>
    <dd class="takanorip-experienceDescription"><p>Frontend Developer at SmartDrive.</p></dd>
    <dt class="takanorip-experienceTitle">2016/05 - 2017/05</dt>
    <dd class="takanorip-experienceDescription"><p>Frontend Developer at FOURDIGIT Design.</p></dd>
    <dt class="takanorip-experienceTitle">2015/02 - 2016/02</dt>
    <dd class="takanorip-experienceDescription"><p>Web Director & HTML Corder at a web design company.</p></dd>
  </dl>
</section>
<section class="takanorip-aboutSection">
  <h3 class="takanorip-sectionTitle">Skills</h3>
  <ul class="takanorip-skillList">
    <li class="takanorip-skillItem">Figma</li>
    <li class="takanorip-skillItem">Web Font</li>
    <li class="takanorip-skillItem">React</li>
    <li class="takanorip-skillItem">JavaScript</li>
    <li class="takanorip-skillItem">TypeScript</li>
    <li class="takanorip-skillItem">Node.js</li>
    <li class="takanorip-skillItem">Gatsby</li>
    <li class="takanorip-skillItem">Nuxt.js</li>
    <li class="takanorip-skillItem">UI Design</li>
    <li class="takanorip-skillItem">Sketch</li>
    <li class="takanorip-skillItem">GraphQL</li>
  </ul>
</section>
