---
permalink: feed.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>{{ metadata.title_blog }}</title>
  <subtitle>{{ metadata.description_blog }}</subtitle>
  <link href="{{ metadata.feedUrl }}" rel="self"/>
  <link href="{{ metadata.url_blog }}"/>
  <updated>{{ collections.blog | rssLastUpdatedDate }}</updated>
  <id>{{ metadata.url_blog }}</id>
  <author>
    <name>{{ metadata.author.name }}</name>
  </author>
  {%- for blog in collections.blog %}
  {% set absolutePostUrl %}{{ blog.url | url | absoluteUrl(metadata.url_blog) }}{% endset %}
  <entry>
    <title>{{ post.data.title }}</title>
    <link href="{{ absolutePostUrl }}"/>
    <updated>{{ blog.date | rssDate }}</updated>
    <id>{{ absolutePostUrl }}</id>
    <content type="html">{{ blog.templateContent | htmlToAbsoluteUrls(absolutePostUrl) }}</content>
  </entry>
  {%- endfor %}
</feed>
