---
layout: layouts/base.njk
permalink: /works/
templateClass: works-content
title: WORKS
---
{% include "components/background.njk" %}
{% include "components/head.njk" %}

<ul class="takanorip-works">
{%- for work in collections.works | reverse -%}
  <li class="takanorip-worksItem">
    <a class="takanorip-worksLink" href="{{ work.url }}">
      <div class="takanorip-worksLinkWrap">
          {{ work.data.title }}
          <svg class="takanorip-worksLinkIcon" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"><path d="M21.883 12l-7.527 6.235.644.765 9-7.521-9-7.479-.645.764 7.529 6.236h-21.884v1h21.883z"/></svg>
      </div>
    </a>
  </li>
{%- endfor -%}
</ul>