.wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-5);
  max-width: 800px;
  min-height: calc(100% - 48px);
  padding: calc(96px + 64px) var(--spacing-5) var(--spacing-21);
  margin: 0 auto;
}

.title {
  font-size: var(--font-size-h3);
  font-weight: 700;
  line-height: 1.4;
}

.titleWrapper {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-5);
}

.info {
  display: grid;
  gap: var(--spacing-1);
  width: 100%;
}

.infoTitle {
  margin-bottom: var(--spacing-0);
  font-size: var(--font-size-small);
  line-height: 20px;
  color: var(--scarpa-flow);
}

.infoCategory {
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-1);
  align-items: center;
}

.infoCategoryItem {
  padding: 0 var(--spacing-1);
  font-size: var(--font-size-small);
  line-height: 28px;
  color: var(--white);
  letter-spacing: 0.4px;
  background-color: var(--bunker);
  border-radius: var(--border-radius-small);
}

.infoDate {
  color: var(--scarpa-flow);
}

.button {
  flex: none;
}

.figure {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  aspect-ratio: 4 / 4;
  padding: var(--spacing-3);
  overflow: hidden;
  line-height: 0;
  object-fit: contain;
  object-position: center;
  background-color: var(--wild-sand);
  border-radius: 12px;
}

.image {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  border-radius: var(--border-radius-default);
}

.descriptionWrapper {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-3);
}

.description {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-size: var(--font-size-bold);
  line-height: 1.5;
  letter-spacing: 0.4px;
}

.description a {
  color: var(--science-blue);
  overflow-wrap: anywhere;
}

.iframeWrapper {
  width: 100%;
}

@media screen and (width <= 767px) {
  .wrapper {
    gap: var(--spacing-5);
    padding: 48px var(--spacing-2) var(--spacing-13);
  }

  .button {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 0 var(--spacing-2) var(--spacing-2) var(--spacing-2);
    background-color: var(--white);
  }

  a.detailButton {
    justify-content: center;
    width: 100%;
  }

  .title {
    font-size: var(--font-size-large);
  }

  .titleWrapper {
    gap: var(--spacing-3);
  }

  .infoWrapper {
    flex-direction: column;
    gap: var(--spacing-3);
  }

  .figure {
    width: calc(100% + 2rem);
    padding: var(--spacing-2);
    margin: 0 -1rem;
    border-radius: 0;
  }
}
