.wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-8);
  max-width: 1320px;
  min-height: calc(100% - 48px);
  padding: calc(96px + 64px) var(--spacing-5) var(--spacing-21);
  margin: 0 auto;
}

.title {
  font-size: var(--font-size-h2);
  font-weight: 700;
  line-height: 1.4;
  width: 100%;
  max-width: 800px;
}

.titleWrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--spacing-3);
}

.info {
  display: flex;
  gap: var(--spacing-5);
  width: 100%;
}

.infoTitle {
  display: block;
  font-size: var(--font-size-small);
  line-height: 20px;
  color: var(--scarpa-flow);
}

.infoCategory {
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-1);
  align-items: center;
  height: fit-content;
}

.infoCategoryItem {
  letter-spacing: 0.4px;
}

.infoDate {
  color: var(--scarpa-flow);
}

.button {
  flex: none;
  margin-left: auto;
}

.figure {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  aspect-ratio: 16 / 9;
  overflow: hidden;
  line-height: 0;
  object-fit: contain;
  object-position: center;
  background-color: var(--wild-sand);
  border-radius: 12px;
}

.image {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.descriptionWrapper {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-3);
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1.5;
  letter-spacing: 0.4px;

  img {
    width: 100%;
    box-shadow:
      0px 0px 4px rgba(0, 0, 0, 0.04),
      0px 8px 16px rgba(0, 0, 0, 0.08);
    border-radius: 8px;
  }

  p:not(:has(img)) {
    width: 720px;
    max-width: 100%;
  }

  p:has(img) {
    width: 100%;
    line-height: 0;
    margin: var(--spacing-5) 0;
  }
}

.description a {
  color: var(--science-blue);
  overflow-wrap: anywhere;
}

.iframeWrapper {
  width: 100%;
}

@media screen and (width <= 767px) {
  .wrapper {
    gap: var(--spacing-5);
    padding: 80px var(--spacing-2) var(--spacing-13);
  }

  .button {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 0 var(--spacing-2) var(--spacing-2) var(--spacing-2);
    background-color: var(--white);
  }

  a.detailButton {
    justify-content: center;
    width: 100%;
  }

  .title {
    font-size: var(--font-size-large);
  }

  .titleWrapper {
    gap: var(--spacing-3);
  }

  .infoWrapper {
    flex-direction: column;
    gap: var(--spacing-3);
  }

  .figure {
    width: calc(100% + 2rem);
    padding: var(--spacing-2);
    margin: 0 -1rem;
    border-radius: 0;
    aspect-ratio: unset;
  }

  .description {
    p:has(img) {
      width: 100%;
      margin: 0;
    }
  }
}
